{% extends 'customers/base.html' %}

{% block content %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Root</li>
        </ol>
    </nav>

    <ul class="list-group" style="margin-top: 16px">
        <li class="list-group-item"><a href="{% url 'customers:customer_list' %}">Customers</a></li>
        <li class="list-group-item"><a href="{% url 'customers:passport_list' %}">Passports</a></li>
        <li class="list-group-item"><a href="{% url 'customers:pagescan_list' %}">Page Scans</a></li>
    </ul>

{% endblock %}