{% extends 'customers/base.html' %}


{% block content %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'customers:catalog' %}">Root</a></li>
            <li class="breadcrumb-item active" aria-current="page">Page Scans</li>
        </ol>
    </nav>

    <div class="row g-3" style="margin-top: 24px">
        <div class="col-md-6">
            <h3>Page Scans:</h3>
        </div>
        <div class="col-md-6 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" href="{% url 'customers:pagescan_create' %}" role="button">Create</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Page Scan</th>
            <th scope="col">Passport</th>
            <th scope="col">MRZ</th>
            <th scope="col">Preview</th>
        </tr>
        </thead>
        <tbody>
        {% for pagescan in pagescan_list %}
            <tr>
                <th scope="row">{{ pagescan.id }}</th>
                <td><a href="{% url 'customers:pagescan_detail' pagescan.id %}">{{ pagescan }}</a></td>
                <td><a href="#">Solve here!</a></td>
                <td>{% if pagescan.mrz_text %} OK {% else %} ERROR {% endif %} </td>
                <td><img src="{{ pagescan.image.url }}" style="width: 100px; height: auto" alt=""></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}