{% extends 'customers/base.html' %}
{% load crispy_forms_filters %}


{% block content %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'customers:catalog' %}">Root</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers:pagescan_list' %}">Page Scans</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if pagescan %} {{ pagescan }} {% else %} [Create] {% endif %}
            </li>
        </ol>
    </nav>

    <div class="row g-3" style="margin-top: 24px">
        <div class="col-md-6">
            <h3>Page Scan: {% if pagescan %} {{ pagescan }} {% else %} [Create] {% endif %}</h3>
        </div>
        {% if pagescan %}
            <div class="col-md-6 d-md-flex justify-content-md-end">
                <a class="btn btn-danger"
                   href="{% url 'customers:pagescan_delete' pagescan.id %}" role="button">Delete</a>
            </div>
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data" action="" class="row g-3" style="margin-top: 8px" id="form">
        {% csrf_token %}
        <div class="col-md-3">
            {% if form %}
                {{ form.image|as_crispy_field }}
            {% else %}
                <label for="image" class="form-label">Image:</label>
                <img src="{{ pagescan.image.url }}" alt="" style="width: 300px; height: auto; border-radius: 16px">
            {% endif %}
        </div>
        <div class="col-md-9">
            <label for="mrz_text" class="form-label">MRZ data:</label>
            <input type="text" class="form-control" id="mrz_text" value="{{ pagescan.mrz_text }}" disabled>
        </div>
        {% if form %}
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="save_btn">Save</button>
                <button class="btn btn-primary" type="button" id="load_btn" disabled hidden>
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                    Wait...
                </button>
            </div>
        {% endif %}
    </form>

    <script>

        document.getElementById("form").addEventListener('submit', function () {
            document.getElementById("save_btn").hidden = true;
            document.getElementById("load_btn").hidden = false;
        })

    </script>

{% endblock %}