{% extends 'customers/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'customers:catalog' %}">Root</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers:passport_list' %}">Passports</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if passport %} {{ passport }} {% else %} [Create] {% endif %}
            </li>
        </ol>
    </nav>

    <div class="row g-3" style="margin-top: 24px">
        <div class="col-md-6">
            <h3>Passport: {% if passport %} {{ passport }} {% else %}
                [Create] {% endif %} </h3>
        </div>
        {% if passport %}
            <div class="col-md-6 d-md-flex justify-content-md-end">
                <a class="btn btn-danger" href="{% url 'customers:passport_delete' passport.id %}"
                   role="button">Delete</a>
            </div>
        {% endif %}
    </div>

    <form method="POST" class="row g-3" style="margin-top: 8px" novalidate>
        {% csrf_token %}
        <div class="col-md-2">
            {{ form.issuer_code|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.document_number|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.expiry_date|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.optional_data_1|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.optional_data_2|as_crispy_field }}
        </div>


        <div class="col-md-3">
            {{ form.surname|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.given_name|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.nationality_code|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.birth_date|as_crispy_field }}
        </div>
        <div class="col-md-1">
            {{ form.sex|as_crispy_field }}
        </div>


        <div class="col-md-3">

        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

{% endblock %}